@import "tailwindcss";
@import "@heroui/styles";

/* Correct source scanner for @heroui/react */
@source "../node_modules/@heroui/react/dist/**/*.{js,ts,jsx,tsx}";

@theme {
    /* Theme Colors (Light Mode) */
    --color-accent: oklch(82% 0.12 155);
    --color-accent-foreground: oklch(15% 0.024 155);
    --color-background: oklch(97.02% 0.0015 155);
    --color-border: oklch(90% 0.0015 155);
    --color-danger: oklch(65.32% 0.2335 13.88);
    --color-danger-foreground: oklch(99.11% 0 0);
    --color-default: oklch(94% 0.0015 155);
    --color-default-foreground: oklch(21.03% 0.0059 155);
    --color-field-background: oklch(100% 0.0008 155);
    --color-field-border: transparent;
    --color-field-foreground: oklch(21.03% 0.0015 155);
    --color-field-placeholder: oklch(55.17% 0.003 155);
    --color-focus: oklch(82% 0.12 155);
    --color-foreground: oklch(21.03% 0.0015 155);
    --color-muted: oklch(55.17% 0.003 155);
    --color-overlay: oklch(100% 0.0004 155);
    --color-overlay-foreground: oklch(21.03% 0.0015 155);
    --color-scrollbar: oklch(87.1% 0.0015 155);
    --color-segment: oklch(100% 0.0015 155);
    --color-segment-foreground: oklch(21.03% 0.0015 155);
    --color-separator: oklch(92% 0.0015 155);
    --color-success: oklch(73.29% 0.1941 138.95);
    --color-success-foreground: oklch(21.03% 0.0059 138.95);
    --color-surface: oklch(100% 0.0008 155);
    --color-surface-foreground: oklch(21.03% 0.0015 155);
    --color-surface-secondary: oklch(95.24% 0.0012 155);
    --color-surface-secondary-foreground: oklch(21.03% 0.0015 155);
    --color-surface-tertiary: oklch(93.73% 0.0012 155);
    --color-surface-tertiary-foreground: oklch(21.03% 0.0015 155);
    --color-warning: oklch(78.19% 0.159 60.47);
    --color-warning-foreground: oklch(21.03% 0.0059 60.47);

    /* Border Radius */
    --radius: 0.5rem;
    --field-radius: 0.75rem;

    /* Font Family */
    --font-sans: var(--font-dm-sans);
}

@theme dark {
    --color-background: oklch(12% 0.0015 155);
    --color-border: oklch(28% 0.0015 155);
    --color-danger: oklch(59.4% 0.1973 12.77);
    --color-danger-foreground: oklch(99.11% 0 0);
    --color-default: oklch(27.4% 0.0015 155);
    --color-default-foreground: oklch(99.11% 0 0);
    --color-field-background: oklch(21.03% 0.003 155);
    --color-field-border: transparent;
    --color-field-foreground: oklch(99.11% 0.0015 155);
    --color-field-placeholder: oklch(70.5% 0.003 155);
    --color-focus: oklch(82% 0.12 155);
    --color-foreground: oklch(99.11% 0.0015 155);
    --color-muted: oklch(70.5% 0.003 155);
    --color-overlay: oklch(21.03% 0.003 155);
    --color-overlay-foreground: oklch(99.11% 0.0015 155);
    --color-scrollbar: oklch(70.5% 0.0015 155);
    --color-segment: oklch(39.64% 0.0015 155);
    --color-segment-foreground: oklch(99.11% 0.0015 155);
    --color-separator: oklch(25% 0.0015 155);
    --color-success: oklch(73.29% 0.1941 138.95);
    --color-success-foreground: oklch(21.03% 0.0059 138.95);
    --color-surface: oklch(21.03% 0.003 155);
    --color-surface-foreground: oklch(99.11% 0.0015 155);
    --color-surface-secondary: oklch(25.7% 0.0023 155);
    --color-surface-secondary-foreground: oklch(99.11% 0.0015 155);
    --color-surface-tertiary: oklch(27.21% 0.0023 155);
    --color-surface-tertiary-foreground: oklch(99.11% 0.0015 155);
    --color-warning: oklch(82.03% 0.1392 64.48);
    --color-warning-foreground: oklch(21.03% 0.0059 64.48);
}
